<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>员工签到</title>
<link rel="stylesheet" href="/SpringBootCRM/layui/css/layui.css">
<script type="text/javascript"
	src="/SpringBootCRM/js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="/SpringBootCRM/layui/layui.js"></script>
<script type="text/html" id="isCheckInStatus">
  {{#  if(d.checkIn_Status==1){ }}
    <div>未签到</div>
  {{#  } else if(d.checkIn_Status==2) { }}
   	<div>已签到</div>
  {{#  } else  { }}
	<div>已签退</div>
  {{#   } }}

</script>
<script type="text/javascript" th:inline="none">
	$(function() {
		init();
	});
	function init() {
		layui.use([ 'table', 'layer' ], function() {
			var table = layui.table;
			var layer = layui.layer;
			//第一个实例
			table.render({
				elem : '#demo',
				height : 312,
				url : '/SpringBootCRM/getChekinListByIdPage'//数据接口
				,
				page : true //开启分页
				,
				method : 'post',
				where : {
					num1 : $('#num1').text(),
					text1 : $('#date1').val(),
					text2 : $('#date2').val()
				},
				cols : [ [ //表头
				{
					field : 'checkIn_Id',
					title : 'ID',
					width : 80,
					sort : true,
					fixed : 'left'
				}, {
					templet : '<div>{{d.users.users_LoginName}}</div>',
					title : '用户名',
					width : 177
				}, {
					field : 'checkIn_Time',
					title : '签到时间',
					width : 200
				}, {
					field : 'checkIn_EndTime',
					title : '退签时间',
					width : 200,
					sort : true
				}, {
					templet : '#isCheckInStatus',
					title : '签到情况',
					width : 177
				}, {
					fixed : 'right',
					width : 150,
					align : 'center',
					toolbar : '#barDemo'
				} ] ]
			});
		});
	}
</script>
</head>
<body>
	<!-- <table class="layui-table">
  <colgroup>
    <col width="150">
    <col width="200">
    <col>
  </colgroup>
  <thead>
    <tr>
      <th>员工姓名</th>
      <th>员工签到状态</th>
      <th>员工签到时间</th>
      <th>员工签退时间</th>
      <th>操作</th>
    </tr> 
  </thead>
  <tbody>
    <tr th:each="checkin,memberStat:${checkinList}">
     <td th:text="${checkin.users.users_LoginName}"/>
     <td th:switch="${checkin.checkIn_Status}">
      <span th:case="1">未签到</span>
      <span th:case="2">已签到</span>
      <span th:case="3">已签退</span>
     </td>
      <td th:text="${checkin.checkIn_Time}"/>
      <td th:text="${checkin.checkIn_EndTime}"/>
      <td th:if="${checkin.checkIn_Status==2}">
      <button class="layui-btn" onclick="oneCheckin()">一键签退</button>
      </td>
    </tr>
  </tbody>
</table> -->
	<span id="num1" name="num1" th:text="${users_Id}"
		style="display: none;"></span>
	<div class="layui-form-item">
		<label class="layui-form-label">开始时间</label>
		<div class="layui-inline">
			<!-- 注意：这一层元素并不是必须的 -->
			<input type="text" class="layui-input" id="date1"autocomplete="off">
		</div>	
	</div>
	<div class="layui-form-item">
	<label class="layui-form-label">结束时间</label>
		<div class="layui-inline">
			<!-- 注意：这一层元素并不是必须的 -->
			<input type="text" class="layui-input" id="date2" autocomplete="off">
		</div>
	</div>
	  <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn" onclick="init()">立即提交</button>
    </div>
  </div>
	<table id="demo" lay-filter="test"></table>
</body>
<script>
layui.use('laydate', function(){
  var laydate = layui.laydate;
  
  //执行一个laydate实例
  laydate.render({
    elem: '#date1' //指定元素
  });
});
</script>
<script>
layui.use('laydate', function(){
  var laydate = layui.laydate;
  
  //执行一个laydate实例
  laydate.render({
    elem: '#date2' //指定元素
  });
});
</script>
</html>