<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>修改目标学校信息页面</title>
<link rel="stylesheet" href="/SpringBootCRM/layui/css/layui.css">
<script type="text/javascript" src="/SpringBootCRM/js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="/SpringBootCRM/layui/layui.js"></script>
<script type="text/javascript">
$(function(){
	layui.use('laydate', function(){
  var laydate = layui.laydate;
  laydate.render({
    elem: '#clue_UpdateTime', //指定元素
    type: 'datetime'
  });
  laydate.render({
	    elem: '#clue_EndTime' //指定元素
	});
});
}) 
function edit(){
var from={clue_Id:$("#clue_Id").val(),clue_Name:$("#clue_Name").val(),clue_Sex:$("#clue_Sex").val(),clue_Birthday:$("#clue_Birthday").val(),clue_Email:$("#clue_Email").val(),
clue_Source:$("#clue_Source").val(),clue_IdentityNumber:$("#clue_IdentityNumber").val(),clue_Qq:$("#clue_Qq").val(),clue_Tel:$("#clue_Tel").val(),
clue_Address:$("#clue_Address").val(),clue_UpdateTime:$("#clue_UpdateTime").val(),clue_EndTime:$("#clue_EndTime").val(),clue_Remarks:$('#clue_Remarks').val()
};
$.post('/SpringBootCRM/Clue/clueUpdate',from,function(res){
	if(res.success){
		alert(res.msg);
		parent.location.reload();
	}else{
		alert(res.msg);
	}
},'json')
}
</script>
</head>
<body style="text-align:center">
<div style="display:none" class="layui-form-item"><div class="layui-input-inline"><input th:field="${clue.clue_Id}" type="text" id="clue_Id" class="layui-input"></div></div>
<table class="layui-table">
  <thead>
    <tr>
      <th>姓名</th>
      <th>性别</th>
      <th>出生日期</th>
      <th>线索来源</th>
      <th>身份证号</th>
    </tr> 
  </thead>
  <tbody>
    <tr>
      <td><div class="layui-form-item"><div class="layui-input-inline"><input th:field="${clue.clue_Name}" type="text" id="clue_Name" class="layui-input"></div></div></td>
      <td><div class="layui-form-item"><div class="layui-input-inline"><input th:field="${clue.clue_Sex}" type="text" id="clue_Sex" class="layui-input"></div></div></td>
      <td><div class="layui-form-item"><div class="layui-input-inline"><input th:field="${clue.clue_Birthday}" type="text" id="clue_Birthday" class="layui-input"></div></div></td>
      <td><div class="layui-form-item"><div class="layui-input-inline"><input th:field="${clue.clue_Source}" type="text" id="clue_Source" class="layui-input"></div></div></td>
      <td><div class="layui-form-item"><div class="layui-input-inline"><input th:field="${clue.clue_IdentityNumber}" type="text" id="clue_IdentityNumber" class="layui-input"></div></div></td>
    </tr>
  </tbody>
  <thead>
    <tr>
      <th>QQ</th>
      <th>电话</th>
      <th>地区</th>
      <th>负责人</th>
      <th>创建人</th>
    </tr> 
  </thead>
  <tbody>
    <tr>
      <td><div class="layui-form-item"><div class="layui-input-inline"><input th:field="${clue.clue_Qq}" type="text" id="clue_Qq" class="layui-input"></div></div></td>
      <td><div class="layui-form-item"><div class="layui-input-inline"><input th:field="${clue.clue_Tel}" type="text" id="clue_Tel" class="layui-input"></div></div></td>
      <td><div class="layui-form-item"><div class="layui-input-inline"><input th:field="${clue.clue_Address}" type="text" id="clue_Address" class="layui-input"></div></div></td>
      <td><div class="layui-form-item"><div class="layui-input-inline"><input th:field="${clue.users.users_LoginName}" disabled="disabled" id="clue_Principal" type="text" name="title" class="layui-input"></div></div></td>
      <td><div class="layui-form-item"><div class="layui-input-inline"><input th:field="${users.users_LoginName}" type="text" disabled="disabled" id="clue_Creator" class="layui-input"></div></div></td>
    </tr>
  </tbody>
  <thead>
    <tr>
      <th>创建时间</th>
      <th>更新时间</th>
      <th>线索开始时间</th>
      <th>线索结束时间</th>
      <th>状态</th>
    </tr> 
  </thead>
  <tbody>
    <tr>
      <td><div class="layui-form-item"><div class="layui-input-inline"><input th:field="${clue.clue_CreateTime}" disabled="disabled" type="text" id="clue_CreateTime" class="layui-input"></div></div></td>
      <td><div class="layui-form-item"><div class="layui-input-inline"><input th:field="${clue.clue_UpdateTime}" type="text" id="clue_UpdateTime" class="layui-input"></div></div></td>
      <td><div class="layui-form-item"><div class="layui-input-inline"><input th:field="${clue.clue_BginTime}" disabled="disabled" type="text" id="clue_BginTime" class="layui-input"></div></div></td>
      <td><div class="layui-form-item"><div class="layui-input-inline"><input th:field="${clue.clue_EndTime}" type="text" id="clue_EndTime" class="layui-input"></div></div></td>
      <td th:switch="${clue.clue_Status}">
<div class="layui-form-item"><div class="layui-input-inline"><input th:case="0" disabled="disabled" type="text" value="未分配" id="clue_Status" class="layui-input"></div></div>
<div class="layui-form-item"><div class="layui-input-inline"><input th:case="1" disabled="disabled" type="text" value="正在跟进" id="clue_Status" class="layui-input"></div></div>
<div class="layui-form-item"><div class="layui-input-inline"><input th:case="2" disabled="disabled" type="text" value="已放弃" id="clue_Status" class="layui-input"></div></div>
<div class="layui-form-item"><div class="layui-input-inline"><input th:case="3" disabled="disabled" type="text" value="已成为学员" id="clue_Status" class="layui-input"></div></div>
      </td>
    </tr>
    <tr height="100">
    <td>备注</td>
    <td colspan="2"><textarea th:field="${clue.clue_Remarks}" id="clue_Remarks" required lay-verify="required" placeholder="请输入" class="layui-textarea"></textarea></td>
    <td>邮箱</td>
    <td><div class="layui-form-item"><div class="layui-input-inline"><input th:field="${clue.clue_Email}" type="text" id="clue_Email" class="layui-input"></div></div></td>
    </tr> 
  </tbody>
</table>
<button class="layui-btn" onclick="edit()">编辑</button>
</body>
</html>