<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>查看目标学生信息</title>
<link rel="stylesheet" href="/SpringBootCRM/layui/css/layui.css">
<script type="text/javascript" src="/SpringBootCRM/js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="/SpringBootCRM/layui/layui.js"></script>
</head>
<body>
<table class="layui-table">
  <thead>
    <tr>
      <th>姓名</th>
      <th>性别</th>
      <th>出生日期</th>
      <th>线索来源</th>
      <th>身份证号</th>
    </tr> 
  </thead>
  <tbody>
    <tr>
      <td th:text="${clue.clue_Name}"></td>
      <td th:text="${clue.clue_Sex}"></td>
      <td th:text="${clue.clue_Birthday}"></td>
      <td th:text="${clue.clue_Source}"></td>
      <td th:text="${clue.clue_IdentityNumber}"></td>
    </tr>
  </tbody>
  <thead>
    <tr>
      <th>QQ</th>
      <th>电话</th>
      <th>地区</th>
      <th>负责人</th>
      <th>创建人</th>
    </tr> 
  </thead>
  <tbody>
    <tr>
      <td th:text="${clue.clue_Qq}"></td>
      <td th:text="${clue.clue_Tel}"></td>
      <td th:text="${clue.clue_Address}"></td>
      <td th:text="${clue.users.users_LoginName}"></td>
      <td th:text="${users.users_LoginName}"></td>
    </tr>
  </tbody>
  <thead>
    <tr>
      <th>创建时间</th>
      <th>更新时间</th>
      <th>线索开始时间</th>
      <th>线索结束时间</th>
      <th>状态</th>
    </tr> 
  </thead>
  <tbody>
    <tr>
      <td th:text="${clue.clue_CreateTime}"></td>
      <td th:text="${clue.clue_UpdateTime}"></td>
      <td th:text="${clue.clue_BginTime}"></td>
      <td th:text="${clue.clue_EndTime}"></td>
      <td th:switch="${clue.clue_Status}">
      <p th:case="0">未分配</p>
      <p th:case="1">正在跟进</p>
      <p th:case="2">已放弃</p>
      <p th:case="3">已成为学员</p>
      </td>
    </tr>
    <tr height="100">
    <td>备注</td>
    <td colspan="2"><textarea th:field="${clue.clue_Remarks}" disabled="disabled" id="clue_Remarks" required lay-verify="required" placeholder="请输入" class="layui-textarea"></textarea></td>
    <td>邮箱</td>
    <td colspan="2" th:text="${clue.clue_Email}"></td>
    </tr>
  </tbody>
</table>
</body>
</html>