<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/SpringBootCRM/js/layui/css/layui.css">
<script type="text/javascript"
	src="/SpringBootCRM/js/layui/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="/SpringBootCRM/js/layui/layui.js"></script>
</head>
<body>
<form class="layui-form" action="/SpringBootCRM/login" method="post">
<span th:text="${msg}"></span>
	<div class="layui-form-item">
		<label class="layui-form-label">输入框</label>
		<div class="layui-input-block">
			<input type="text" name="users_LoginName" id="users_LoginName" required
				lay-verify="required" placeholder="请输入标题" autocomplete="off"
				class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">密码框</label>
		<div class="layui-input-inline">
			<input type="password" name="users_Password" id="users_Password" required
				lay-verify="required" placeholder="请输入密码" autocomplete="off"
				class="layui-input">
		</div>
		<div class="layui-form-mid layui-word-aux">辅助文字</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-input-block">
			<button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
		</div>
	</div>
	</form>
</body>
<script>
//Demo
layui.use('form', function(){
  var form = layui.form;
  
  //监听提交
  form.on('submit(formDemo)', function(data){
    layer.msg(JSON.stringify(data.field));
  });
});
</script>
</html>